<div class='jumbotron' style='background: url(/assets/jumbotron.jpg) no-repeat; background-position: center;'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12'>
           <p style="font-family: 'Pacifico', cursive; font-size: 5em;height: 100px;">Jill & Ryan are getting married!</p>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-8'>
        </div>
        <div class='col-lg-4'>
           <p style="font-family: 'Pacifico', cursive; font-size: 5em;height: 100px;">??? ?, 2015?</p>
        </div>
      </div>
      <div class='row'>
	    <div class='col-lg-12'>
	            <br /><br /><br /><br /><br /><br /><br /><br /><br />
	    </div>
	  </div>
	  <div class='row'>
	    <div class='col-lg-8'>
	    </div>
	    <div class='col-lg-4'>
	       <p>We want you to <%= link_to "Sign the guestbook", guestbooks_path, :class => 'btn btn-default' %></p>
	    </div>
	  </div>
	</div>
</div>  

<div class='container'>
<div class='page-header'>
  <h1 style="font-family: 'Pacifico', cursive;">Wedding News</h1>
</div>

<div class='panel panel-default'>
<div class='panel-heading'>
Getting the site up - Nov 3, 2014
</div>
<div class='panel-body'>
  I am developing the site from scratch so hopefully you guys (and especially Jill, am I right? ;) ) think it is cool.  We don't have a date set so any references to any dates right now are just temporary
</div>   


</div>