<div class='container'>   
  <div class='page-header'>
     <h1 style="font-family: 'Pacifico', cursive;">The Proposal <small style='font-family: "Helvetica Neue", Helvetica, Arial, sans-serif'>  - October 13, 2014</small></h1>
  </div>

  <div class='container'>
  <p>Ryan + Jill met at Rosie + Chris' wedding in May of 2012.  He decided to call Jill one day and their friendship took off.  February of 2013, Ryan and Jill started dating and set a date for her to move down to Ryan's place in VA.  She moved down in August of 2013 and has lived with him ever since.</p>
    <p>On Columbus Day of 2014, Ryan knew that he was going to propose to Jill.  He was nervous all day and had just asked Jill's mom the day before if her family would approve of him asking her.  To prepare, he set up hundreds of candles around the house and pointed her towards where he was on a knee.  Following are some of the candles that were set up.</p>

    <div class="row">
      <div class="col-lg-12">
        <a href="#" class="thumbnail">
          <img src="/assets/proposal-1.jpg" />
        </a>
      </div>
      </div>
      <div class='row'>
      <div class="col-lg-6">
        <a href="#" class="thumbnail">
          <img src="/assets/proposal-2.jpg" />
        </a>
      </div>
      <div class="col-lg-6">
        <a href="#" class="thumbnail">
          <img src="/assets/proposal-3.jpg" />
        </a>
      </div>
    </div>
    <p>Don't worry, there was a fire extinguisher on hand in case things went awry.</p>
    <p>Since Jill had constantly told Ryan about other people having to re-take photos of proposals, Ryan decided to take a couple of videos to cut together into the following proposal video:</p>

  </div>  


  <div class='embed-responsive embed-responsive-16by9'>
  <iframe width="560" height="315" src="//www.youtube.com/embed/X_l56UIe_TA" frameborder="0" allowfullscreen></iframe>
  </div>
<br />
  <p>
        Now they are on their way to their happily ever after!
  </p>    
</div>