
<div class='container'>   
  <div class='page-header'>
     <h1 style="font-family: 'Pacifico', cursive;">Registry</h1>
  </div>
</div>

<div class='container'>
<div class='media'>
  <a class='media-left pull-left'>
    <img src='http://g-ecx.images-amazon.com/images/G/01/x-locale/communities/wishlist/uwl/UWL_SWF_shims._V368675346_.png' />
  </a>
  <div class='media-body' style='vertical-align: center'>
  <br />
  <br />
  <br />
    <h4 class='media-heading'>Amazon</h4>
    <a href='https://www.amazon.com/gp/registry/wedding/2SGIK45MIEBFV' target='_blank'>Jill and Ryan's Amazon Wedding Registry</a>
  </div>
</div>
</div>