
<div class='container'>   
  <div class='page-header'>
     <h1 style="font-family: 'Pacifico', cursive;">Registry</h1>
  </div>
</div>



<div class='container'>
<div class='row'>
  <p>
    We are very thankful that we have you in our lives.  Thank you in advance (and forever) for anything that you get us.  Currently, we are registered at Williams-Sonoma, Target, and Amazon.  
  </p>
</div>
  <div class='row'>
    <div class='col-lg-6' style='text-align: right;'>
        <a href='https://www.amazon.com/gp/registry/wedding/2SGIK45MIEBFV' target='_blank'>
            <img src='http://g-ecx.images-amazon.com/images/G/01/x-locale/communities/wishlist/uwl/UWL_SWF_shims._V368675346_.png' />
        </a>
    </div>
    <div class='col-lg-6' style='text-align: left; vertical-align: center'>
     <a href='https://www.amazon.com/gp/registry/wedding/2SGIK45MIEBFV' target='_blank'>
          <br />
          <br />
          <br />
          <br />
          <h4 class='media-heading'>Jill and Ryan's Amazon Wedding Registry</h4>
      </a>
    </div>
  </div>
  <div class='row'>
    
    <div class='col-lg-6' style='text-align: right;'>
        <a href='https://secure.williams-sonoma.com/registry/nxn7v66cqs/registry-list.html' target='_blank'>
            <img src='http://www.buyvia.com/i/2014/06/logo-31.png' />
        </a>
    </div>
    <div class='col-lg-6' style='text-align: left; vertical-align: center'>
     <a href='https://secure.williams-sonoma.com/registry/nxn7v66cqs/registry-list.html' target='_blank'>
          <br />
          <br />
          <br />
          <br />
          <br />
          <h4 class='media-heading'>Jill and Ryan's Williams-Sonoma Wedding Registry</h4>
      </a>
    </div>
  </div>    
  <div class='row'>
    
    <div class='col-lg-6' style='text-align: right;'>
        <a href='http://www.target.com/gift-registry/giftgiver?registryId=a-3ZrfsCP9Da-2nSghow6w&registryType=WEDDING' target='_blank'>
            <img src='http://cf.juggle-images.com/matte/white/280x280/target-logo-primary.jpg' />
        </a>
    </div>
    <div class='col-lg-6' style='text-align: left; vertical-align: center'>
     <a href='http://www.target.com/gift-registry/giftgiver?registryId=a-3ZrfsCP9Da-2nSghow6w&registryType=WEDDING' target='_blank'>
          <br />
          <br />
          <br />
          <br />
          <br />
          <h4 class='media-heading'>Jill and Ryan's Target Wedding Registry</h4>
      </a>
    </div>
  </div>   
</div>