
<div class='container'>
  <div class='row'>
    <div class='col-lg-12' style="font-family: 'Pacifico', cursive; font-size: 3em;">RSVP submitted!</div>
  </div>
<br />
  <p>
Thank you for rsvping!  We are looking forward to seeing you at our wedding.  If you would like to change anything about your RSVP, please go through the RSVP process again to update your information.  For any questions/help, please email Ryan (ry.gimmy@gmail.com) or Jill (JillianNAnderson@yahoo.com).
</p>
</div>