<div class='container'>   
  <div class='page-header'>
     <h1 style="font-family: 'Pacifico', cursive;">Wedding Party</small></h1>
  </div>
</div>

<div class='container'>
 <p> Jill and Ryan are still deciding their final line-up.  This will be posted when they ask their wedding party and they accept/decline.</p>

</div>