<div class='container'>   
  <div class='page-header'>
     <h1 style="font-family: 'Pacifico', cursive;">Wedding Details</small></h1>
  </div>
</div>

<div class='container'>
  <p>When should we be there?<br /> <b>October 31, 2015 at 4pm</b></p>
  <p>Where will the ceremony and reception be? <br />
  	<b><a href='http://www.beckerfarms.com/#!vizcarravineyards/cee5'>Becker Farms/Vizcarra Vineyards</a><br />
    3724 Quaker Rd.<br />
    Gasport NY, 14067</b>
  </p>

  <p>Where can we stay?<br /> <b>Best Western Plus in Lockport.  Mention the Anderson/Gimmy wedding to get a room in the block.</b></p>
  <p>
    3724 Quaker Rd.<br />
    Gasport NY, 14067<br />
    (716) 434-6151</b>
  </p>

<p>Will transportation be provided?<br /> <b>There will be a bus shuttling people to and from the wedding venue starting around 2pm.</b></p>
  
  <h3 style="font-family: 'Pacifico', cursive;" >Directions to the venue</h3>
  
  	<h4>From 104 West</h4>
  <p>	
  <ul>
	<li>Head west on NY-104 West, 46.2 miles.</li>
	<li>Turn left onto Quaker Road.</li>
	<li>Destination will be on the right</li>
   </ul>
 </p>
 
<h4>From Best Western Plus</h4>
 
 <p>
 <ul>
 <li>Head north on South Transit Street toward Lincolnshire Drive 1.5 miles</li>
 <li>Turn right onto Grand Street, 0.2 miles</li>
 <li> Grand Street turns left and becomes Clinton Street, 1.0 mile</li>
 <li>  Clinton St turns left and becomes NY-78 N/Lake Avenue, 1.2 miles</li>
 <li>  Turn right onto Slayton Settlement Road, 5.6 miles</li>
 <li>  Turn left onto Quaker Road.  Destination will be on the left </li>
 </ul>
  </p>

</div>
