
<div class='container'>   
  <div class='page-header'>
     <h1 style="font-family: 'Pacifico', cursive;">RSVPs</h1>
  </div>
</div>

<div class='container'>
  <p>After you have recieved your invitation, please <%= link_to 'Click on this button to RSVP to the wedding', 'give', :class => 'btn btn-default' %></p>
</div>

