
<div class='container'>   
  <div class='page-header'>
     <h1 style="font-family: 'Pacifico', cursive;">Guestbook</h1>
  </div>
</div>


<div class='container'>
<div class='row'>

<div class='col-lg-10'><p>Please sign our guestbook!</p></div>
<div class='col-lg-2'><%= link_to 'Write a Guestbook Entry', new_guestbook_path, :class => 'btn btn-default' %></div>
</div>
<br />

    <% @guestbooks.each do |guestbook| %>

      <div class='panel panel-default'>
         <div class='panel-heading'>
            <h3 class='panel-title'><%= guestbook.name %> - <%= time_ago_in_words(guestbook.created_at) %> ago</h3>
         </div>
         <div class='panel-default'>
         <div class='container'>
            <p><%= guestbook.message %></p>
            </div>
         </div>
      </div>
    <% end %>
</div>